<!doctype html>
<html>
<link rel="stylesheet" type="text/css" href="/static/base.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<title>NeoPixels Configuration Page</title>

<body>

<script>
$.getJSON("/json_config", function(result){
        $.each(result, function(key, field){
            $('#'+key).val(field) ;
        });
    });
</script>


<h1>CONFIGURATION</h1>

<form>
    <table>
        <tr>
            <td id='iname'>LED COUNT</td>
            <td><input id='LED_COUNT' type='number' name='LED_COUNT' /></td>
        </tr>
        <tr>
            <td id='iname'>LED PIN</td>
            <td><input id='LED_PIN' type='number' name='LED_PIN' /></td>
        </tr>
        <tr>
            <td id='iname'>LED STRIP TYPE</td>
            <td>
                <select>
                    <option value="528384">WS2811_STRIP_GRB </option>
                    <option value="528384">WS6411_STRIP_GRB </option>
                </select>
            </td>
        </tr>
        <tr>
            <td id='iname'>Max Brightness</td>
            <td><input id='MAX' type='number' name='MAX' /></td>
        </tr>
        <tr>
            <td id='iname'>Colour Wash Red</td>
            <td><input id='CWRED' type='number' name='CWRED' /></td>
        </tr>
        <tr>
            <td id='iname'>Colour Wash Green</td>
            <td><input id='CWGREEN' type='number' name='CWGREEN' /></td>
        </tr>
        <tr>
            <td id='iname'>Colour Wash Blue</td>
            <td><input id='CWBLUE' type='number' name='CWBLUE' /></td>
        </tr>
        <tr>
            <td id='iname'>Colour Wash Ratio</td>
            <td><input id='CWRATIO' type='number' name='CWRATIO' /></td>
        </tr>

        <tr>
            <td id='iname'>COMPLETE</td>
            <td><input type='submit' name='submit' /></td>
        </tr>
    </table>
</form>

<button onclick="window.location.href='/'" >HOME</button>

</body>
</html>