<!doctype html>
<html>
<link rel="stylesheet" type="text/css" href="/static/base.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<title>NeoPixels Scene Setting</title>

<body>

<table>
	<tr>
		<th colspan='4'> SCENE CONTROL</th>
	</tr>
	<tr>
		<td class='button' onclick="window.location.href='/queue/neo_off'"> OFF RGBW </td>
		<td class='button' onclick="window.location.href='/queue/rotate'"> ROTATE </td>
		<td class='button' onclick="window.location.href='/queue/alarm'"> ALARM </td>
		<td class='button' onclick="window.location.href='/'"> INDEX </td>
	</tr>
	<tr>
		<td class='button' onclick="window.location.href='/queue/quarter/1'"> QUARTER1 </td>
		<td class='button' onclick="window.location.href='/queue/quarter/2'"> QUARTER2 </td>
		<td class='button' onclick="window.location.href='/queue/quarter/3'"> QUARTER3 </td>
		<td class='button' onclick="window.location.href='/queue/quarter/4'"> QUARTER4 </td>
	</tr>
	<tr>
		<td class='button' onclick="window.location.href='/queue/centre_fade'"> CENTRE </td>
		<td class='button' onclick="window.location.href='/queue/fade_out'"> FADE OUT </td>
	</tr>
	<tr>
		<th colspan="4"> STRIP 2 Functions </th>
	</tr>
	<tr>
		<td class='button' onclick="window.location.href='/queue/neo_off2'"> OFF RGB</td>
		<td class='button' onclick="window.location.href='/queue/meter'"> METER 1 </td>
		<td class='button' onclick="window.location.href='/queue/meter2'"> METER 2 </td>
	</tr>
	<tr>
		<th colspan="4"> STRIP 2 Meter </th>
	</tr>
	<tr>
		<td class='button' onclick="window.location.href='/meter/1/0'"> METER 2 - 0 </td>
		<td class='button' onclick="window.location.href='/meter/1/1'"> METER 2 - 1 </td>
		<td class='button' onclick="window.location.href='/meter/1/4'"> METER 2 - 4 </td>
		<td class='button' onclick="window.location.href='/meter/1/8'"> METER 2 - 8 </td>
	</tr>
	<tr>
		<td class='button' onclick="window.location.href='/meter/1/0/12/24'"> METER 3 - 0 </td>
		<td class='button' onclick="window.location.href='/meter/1/1/12/24'"> METER 3 - 1 </td>
		<td class='button' onclick="window.location.href='/meter/1/4/12/24'"> METER 3 - 4 </td>
		<td class='button' onclick="window.location.href='/meter/1/8/12/24'"> METER 3 - 8 </td>
	</tr>


</table>


{% if name %}
  <h1>Last Task {{ name }}</h1>
{% else %}
  <h1>No task defined</h1>
{% endif %}

{% if count %}
  <h2> Wipe runs {{ count }} </h2>
{% endif %}


<button id="button">Clickage</button>

<table>
	<tr>
		<th>Rotate Count</th>
		<th>Max Brightness</th>
	</tr>
	<tr>
		<td id='count'> </td>
		<td id='max_brightness'> </td>
	</tr>
</table>

<script>
$("button").click(function(){
    $.getJSON("/json_data", function(result){
        $.each(result, function(key, field){
        	$('#'+key).text(field) ;
        });
    });
});
</script>
</body>
</html>